* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ACE6E0;
  color: #112A46; 
  line-height: 1.4;
  font-size: 30px;
}

body {
  display: flex; 
  flex-direction: column; 
}

Main P {  
  border-radius: 15px; 
  border: .15rem solid #5eb7b7; 
  padding: 1.5rem; 
  margin: 2rem; 
  }

.img-container {
  margin: 1.5rem; 
  height: 100%; 
  position: relative;
  background-image: url("https://i.pinimg.com/1200x/48/d6/63/48d6638df9e713f6ffd9173f493b894b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px; 
}


h1 {
  font-size: 100px;
  animation: float 1.5s ease-in-out infinite; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

nav {
  display: flex;
  flex-direction: row-reverse; 
  align-items: flex-end;
  gap: 1rem; 
  padding: .5rem 1.5rem; 
  background-color:  #5eb7b7;
  color: #112A46;
  height: 2rem; 
}

nav a {
  color: #112A46; 
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  border-radius: 15px; 
  border: .15rem solid #5eb7b7; 
  padding: 1rem; 
  margin: 1.5rem 
  
}

ul {
  list-style: none;  
  line-height: 2rem;
}

footer {
  background-color: #5eb7b7; 
  height: auto;
  width: 100%; 
  bottom: 0;
}

.footer-text {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  margin: 2rem; 
  font-size: 25px;
}

.about-text {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  padding: 1.5rem; 
}

.outfit-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: .5rem; 
   padding: 1rem;
}

.outfit-img img{
  width: 100%; 
  max-width: 300px; 
  height: auto; 
}

.forward-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: .5rem; 
  padding: 1rem; 
}

.forward-img img{
  width: 100%; 
  max-width: 300px; 
  height: auto; 
}

h2 {
    display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.schedule-container {
  margin: 3rem; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  
}

.floating-text {
  display: inline-block;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px)
  }
}
